/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
body {
    background-color: black;
}
header {
    width: 100%;
    height: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: rgb(42, 171, 226);
    padding: 0 0 0 75px;
    box-sizing: content-box;
    font-family: helvetica light;
}
header-2 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    color: white;
    padding: 0 0 0 75px;
    box-sizing: content-box;
    letter-spacing: .10em;
    font-family: helvetica light;
    word-spacing: 1em;
}
.content {
    width: 85%;
    background-color: white;
    margin: 0 0 0 75px;
    box-sizing: border-box;
    justify-content: center;
}

.skills-box{
    width: 55%;
    display: block;
    margin: 0 auto;
    padding: 10px 200px 0 10px;
    font-family: helvetica light;
    font-size: 16px;
}
/* .profile-box{
    width: 100px;
    height: 25px;
    justify-content: space-around;
    /* margin: 0 0 0 500px; */
    background-color: white;
    box-sizing: border-box;
    display: flex;
    border: 1px rgb(215, 215, 215);
    box-shadow: 2px 2px 2px 2px rgb(215, 215, 215);
} */
/* .popular-box{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: gray 2px;
    border: 1 gray;
}  */
.image-box{
    width: 65%;
    height: 300px;
    display: block;
}
img {
    width: 25%;
    height: 25%;
    display: bottom;
    justify-content: left;
    padding: 20px 20px 0 0;
}

.footer {
    width: 85%;
    height: 5vh;
    background-color:rgb(42, 171, 226);
    margin: 0 0 0 75px;
    padding: 20px 0 0 0;
}
icon {
 position: sticky;
}
h6 {
    color: black;
    justify-content: left;
    margin: 0 0 0 50px;
}